@page "/ToastDemo"

@inject IToastService toastService

<h3>ToastDemo</h3>

<button class="btn btn-info" @onclick="@(()=>toastService.ShowInfo("Information"))">Info Toast</button>
<button class="btn btn-warning" @onclick="@(()=>toastService.ShowWarning("Warning!"))">Warning</button>
<button class="btn btn-success" @onclick="@(()=>toastService.ShowSuccess("Successs"))">Success</button>
<button class="btn btn-btn-danger" @onclick="@(()=>toastService.ShowError("Error"))">Error</button>

@code {

}
